/* planimetria */

.piantina, 
.stanza-container {
	position: relative;
}

.stanza-absolute {
	position: absolute;
}
.piantina {
	height: 640px;
}
.stanza {
	background-color: #F3F3F3;
	border: 1px solid #999;
	padding: 5px;
	
	color: #CECECE;
}

.stanza-container {
	margin-top: 60px;
	margin-bottom: 60px;	
}

.chart-container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.stanza .stato-sensore {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.stanza.on {
	background-color: #CFEACE;
	color: #000;
}

.stanza.error {
	background-color: #E8C8C8;
	color: #000;
}

.stanza h3 {
	margin-top: 2px;
	margin-bottom: 1px;
	font-weight: bold;
}

.stanza .table td {
	padding: 1px;
	border: none;
}

.navigation h3 {
	margin-top: 0px;
}
#stanza-1, #stanza-2, #stanza-3 {
	border-top-width: 2px;
}

#stanza-7, #stanza-8, #stanza-9 {
	border-bottom-width: 2px;
}

#stanza-1, #stanza-4, #stanza-7 {
	border-left-width: 2px;
}

#stanza-3, #stanza-6, #stanza-9 {
	border-right-width: 2px;
}

#stanza-1 {
	top: 0px; left: 0px;
	width: 25%;
	height: 160px;
}

#stanza-2 {
	top: 0px; left: 25%;
	width: 55%;
	height: 140px;
}

#stanza-3 {
	top: 0px; left: 80%;
	width: 20%;
	height: 200px;
}

#stanza-4 {
	top: 160px; left: 0px;
	width: 25%;
	height: 260px;
}

#stanza-5 {
	top: 140px; left: 25%;
	width: 55%;
	height: 320px;
}

#stanza-6 {
	top: 200px; left: 80%;
	width: 20%;
	height: 160px;
}

#stanza-7 {
	top: 420px; left: 0px;
	width: 25%;
	height: 200px;
}

#stanza-8 {
	top: 460px; left: 25%;
	width: 55%;
	height: 160px;
}

#stanza-9 {
	top: 360px; left: 80%;
	width: 20%;
	height: 260px;
}
