<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Museo dei Bardi</display-name>
	<description>
	Applicazione Museo dei Bardi
    </description>
	<servlet>
		<servlet-name>RicezioneRilevazioni</servlet-name>
		<servlet-class>museobardi.servlet.RicezioneRilevazioni</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InvioDati</servlet-name>
		<servlet-class>museobardi.servlet.InvioDati</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicezioneRilevazioni</servlet-name>
		<url-pattern>/servlets/ricezione</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InvioDati</servlet-name>
		<url-pattern>/servlets/invio</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>